<div class="add_comment clearfix">
  <%= form_for [current_user, post, Comment.new], remote: true  do |f| %>
      <%= link_to image_tag(current_user.avatar(:thumb)), current_user, class: 'comment_avatar' %>
      <p>
        <%= f.text_area :content, class: 'comment_area' %>
      </p>
      <%= f.submit 'Comment', class: 'add_comment' %>
  <% end %>
</div>