<div class="friends_links">
  <% if current_user.requested_friendship?(user) %>
      <span class="sent">Friendship request sent.</span>
  <% elsif current_user.request_pending?(user) %>
      <%= link_to user_friendship_path(user.id, current_user.get_friendship(user)), method: :put, class: "accept", remote: true  do %>
          Accept request <i class="fa fa-user-plus" aria-hidden="true"></i>
      <% end %>
      <%= link_to user_friendship_path(current_user, current_user.get_friendship(user)), method: :delete, class: "refuse", remote: true do %>
          Refuse request <i class="fa fa-user-times" aria-hidden="true"></i>
      <% end %>
  <% elsif !current_user.is_friends_with?(user) && current_user != user%>
      <%= link_to user_friendships_path(user.id), method: :post, class: "send", remote: true do %>
          Send request <i class="fa fa-plus" aria-hidden="true"></i>
      <% end %>
  <% elsif current_user.is_friends_with?(user) %>
      <%= link_to user_friendship_path(current_user, current_user.get_friendship(user)), method: :delete, class: "delete", remote: true do %>
          Delete friend <i class="fa fa-minus" aria-hidden="true"></i>
      <% end %>
  <% end %>
</div>