// Place all the styles related to the Chatrooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chatroom {
  width: 30%;
  margin: 0 auto;
  .chatroom_users {
    h3 {
      padding: 0;
      margin: 0;
    }
    margin: 10px 0;
  }
  /*.messages {
    max-height: 720px;
    overflow-y: scroll;
    #overflow-x: hidden;
    .message {
      padding-bottom: 10px;
      img {
        vertical-align: text-top;
        float: left;
      }
      .timestamp {
        position: relative;
        top: 0%;
        right: -5%;
        overflow: hidden;
        white-space: nowrap;
      }
      .msg_body {
        padding-top: 3px;
        padding-left: 3px;
        float: left;
        display: inline-block;
        vertical-align: top;
        width: 350px;
        word-wrap: break-word;
      }
    }
  }
  */
  .message_form {
    border: 1px solid #ccc;
    border-top: none;
    #message_body {
      z-index: 10000;
      width: 280px;
      border-radius: 0;
      resize: none;
      border: 1px solid darken(#e5e5e5, 5%);
      margin: 5px;
      color: #535353;
    }
  }

}

@import url(http://weloveiconfonts.com/api/?family=typicons);
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}

.module {
  box-shadow: -2px -1px 5px 0px rgba(0,0,0,0.2);
  overflow-x: hidden;
  width: 300px;
  margin: 20px auto;
  background: white;
}

.top-bar {;
  background: #666;
  color: white;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
  h1 {
    display: inline;
    font-size: 1.1rem;
  }
  i.fa-comment {
    display: inline-block;
    padding: 4px 5px 2px 5px;
  }
  .fa-minus {
    position: relative;
    bottom: 2px;
    right: 10px;
    &:hover {
      cursor: pointer;
    }
  }
  i.fa-times {
    position: relative;
    bottom: 4px;
    &:hover {
      cursor: pointer;
    }
  }
  .left {
    float: left;
  }
  .right {
    float: right;
    padding-top: 5px;
  }
  > * {
    position: relative;
  }
  &::before {
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    bottom: -100%;
    opacity: 0.25;
    background: radial-gradient(white, black);
  }
}

.discussion {
  height: 500px;
  overflow-y: scroll;
  list-style: none;
  background: #e5e5e5;
  margin: 0;
  padding: 0;
  li {
    padding: 0.3rem;
    overflow: hidden;
    display: flex;
  }
  .avatar {
    width: 30px; // stronger than %
    min-width: 30px;
    // could set height, but gonna bottom-align instead
    position: relative; // for triangle
    img {
      display: block; // triangle position
      width: 100%;
    }
  }
}

.other {
  .avatar {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-left-color: transparent;
      border-bottom-color: transparent;
    }
  }
}

.self {
  justify-content: flex-end;
  align-items: flex-end;
  .messages {
    order: 1;
    border-bottom-right-radius: 0; // weird shadow fix
  }
  .avatar {
    order: 2;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-right-color: transparent;
      border-top-color: transparent;
      box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
    }
  }
}

.messages {
  background: white;
  padding: 8px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(black, 0.2);
  p {
    font-size: 0.8rem;
    margin: 0 0 0.1rem 0;
  }
  time {
    font-size: 0.7rem;
    color: #ccc;
  }
}

.chat_box {
    z-index: 1;
    width: 300px;
    position: fixed;
    bottom: -20px;
    right: 20px;
  }