// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.posts {
  width: 30%;
  margin: 0 auto;
  height: 100%;
  .post {
    word-wrap: break-word; //force looooooong words fit in boxes;
    display: block;
    background: white;
    margin: 15px 0;
    padding: 12px;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(191,191,191,1);
    -moz-box-shadow: 0px 0px 2px 1px rgba(191,191,191,1);
    box-shadow: 0px 0px 2px 0.5px rgba(191,191,191,1);
    a.nick{
      font-weight: bold;
      text-decoration: none;
      color: #499DE8;
    }
    a.timestamp {
      color: #2E2F30;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .links {
      border-top: 1.5px solid #e3e3e3;
      padding-top: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      a {
        color: #499DE8;
      }
    }
    .top {
      display: inline-block;
      margin-bottom: 10px;
      image.avatar {
        display: block;
        float: left;
      }
      .text {
        display: block;
        float: right;
        margin-left: 10px;
        small a {
          color: #636363;
        }
      }
    }
    .comments {
      height: 100%;
      margin-top: 23px;
      #comment {
        padding: 0 15px 5px 15px;
        margin-bottom: 5px;
        font-size: 14px;
        #comment_content {
          overflow: hidden;
          .replies {
            opacity: 1;
          }
        }
        a.commenter {
          text-decoration: none;
          color: #499DE8;
          font-weight: bold;
        }
        a.comment_avatar img{
          float:left;
          padding-right: 5px;
          display: inline;
        }
        .com_content {
          padding-left: 5px;

        }
      }
      .new_comment {
        .comment_avatar {
          float: left;
          margin: 0 10px 0px 15px;
        }
        .comment_area {
          width: 65%;
          height: 25px;
          resize: none;
          float: left;
          font-size: 14px;
          border: 1px solid darken(#e3e3e3,10%);
          //background: lighten(#EFEFEF, 2%);
          border-radius: 3px;
          color: #333;
          &:focus {
            border: 1px solid #999;
          }
        }
        .add_comment {
          float: left;
          margin-left: 15px;
          button {
            background-color: #499DE8;
          }
        }
        input[type=button], input[type=submit], input[type=reset] {
          background-color: #499DE8;
          border: none;
          color: white;
          padding: 4px 12px;
          text-decoration: none;
          border-radius: 4px;
          cursor: pointer;
          margin-top: 0;
        }

      }
    }
    .edit_comment {
      .comment_area {
        width: 355px;
        margin-left: 5px;
        height: 25px;
        resize: none;
        float: left;
        font-size: 14px;
        margin-right: 15px;
        border: 1px solid darken(#e3e3e3,10%);
        border-radius: 3px;
        overflow:hidden;
        color: #333;
        &:focus {
          border: 1px solid #999;
        }
      }
      .new_comment {
        float: left;
        margin-left: 15px;
      }
      input[type=button], input[type=submit], input[type=reset] {
        background-color: #499DE8;
        border: none;
        color: white;
        padding: 4px 12px;
        text-decoration: none;
        border-radius: 4px;
        cursor: pointer;
        margin-top: 0;
      }

    }
    .likes {
      float: right;
      font-size: 14px;
      a {
        text-decoration: none;
      }
    }
  }
}
.add_comment {
  button {
    background-color: #499DE8;
    border: none;
    color: white;
    padding: 4px 9px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0;
  }
  label {
    display: inline-block;
    max-width: 100%;
    margin: 10px 0;
    font-weight: bold;
    font-size: 15px;
  }
  .fileContainer {
    overflow: hidden;
    position: relative;
  }

  #add_post {
    font-weight: bold;
    font-size: 14px;
    margin-top: -5px;
    float: left;
  }

  .fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }

  /* Example stylistic flourishes */

  .fileContainer {
    background: red;
    border-radius: .5em;
    float: left;
    background-color: #499DE8;
    border: none;
    color: white;
    padding: 4.5px 10px;
    text-decoration: none;
    border-radius: 4px;
    margin: 0;
    margin-left: 10px;
  }

  .fileContainer [type=file] {
    cursor: pointer;
  }
}

a.toggle_replies {
  color: #499DE8;
}

.edit_comment {
  input[type=submit] {
    margin-left: 5px !important;
    margin-top: 5px;
  }
  .fileContainer [type=file], label {
    margin-left: -10px !important;
  }
}

.pag {
  opacity: 0;
}

.edit_partial {
  textarea.content_area {
    width: 100%;
    resize: none;
    min-height: 130px;
    border-color: #DDD;
    color: #333;
  }
  button {
    background-ocolor: #499DE8;
    border: none;
    color: white;
    padding: 4px 9px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0;
  }
  label {
    display: inline-block;
    max-width: 100%;
    margin: 10px 0;
    font-weight: bold;
    font-size: 15px;
  }
  .fileContainer {
    overflow: hidden;
    position: relative;
  }

  .fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
  }

  /* Example stylistic flourishes */

  .fileContainer {
    float: left;
    background-color: #499DE8;
    border: none;
    color: white;
    padding: 4.5px 10px;
    text-decoration: none;
    border-radius: 4px;
    margin: 0;
  }

  .fileContainer [type=file] {
    cursor: pointer;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color: #499de8;
    float: right;
    border: none;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 0;
    font-weight: bold;
    font-size: 14px;
  }
}